
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    /* Set the line height for better readability */
    line-height: 1.6; /*  mellanrum font تعيين ارتفاع السطر لجعل النص أكثر وضوحًا */

    margin: 0;
    padding: 0;
    min-height: 100vh;/* Ensure the body takes at least the full height of the viewport */
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    overflow: auto;
    height: 100%;
    width: 100%;
   margin-bottom: 0;
   -webkit-animation: color-change-2x 10s linear infinite alternate both;
    animation: color-change-2x 6s linear infinite alternate both;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 25%, rgba(192, 192, 192, 0.5) 50%, rgba(59, 77, 111, 0.7) 75%);
    background-size: 100% 100%;
    position: relative;
    animation: glowEffect 5s ease-in-out infinite;
}
/* Glödande ljusreflektionseffekt */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 0.3) 40%, transparent 60%);
    animation: glowEffect 5s ease-in-out infinite;
    pointer-events: none;
    z-index: -1;
 /* Glödande bakgrundseffekt */
 background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 20%, rgba(192, 192, 192, 0.5) 60%, rgba(59, 77, 111, 0.7) 80%);
 background-size: 100% 100%;
 
 position: relative;
 animation: glowEffect 6s ease-in-out infinite alternate;
}

/* Glödande ljusreflektionseffekt på hela sidan */
@keyframes glowEffect {
 0% {
     background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 25%, rgba(192, 192, 192, 0.6) 50%, rgba(59, 77, 111, 0.8) 75%);
 }
 100% {
     background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 25%, rgba(192, 192, 192, 0.8) 50%, rgba(59, 77, 111, 0.9) 75%);
 }
}

/* Effekt som gör hela sidan att lysa när man hovrar */
body:hover {
 animation: glowEffectHover 3s ease-in-out infinite alternate;
}

@keyframes glowEffectHover {
 0% {
     background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 20%, rgba(192, 192, 192, 0.6) 50%, rgba(59, 77, 111, 0.8) 80%);
 }
 100% {
     background: radial-gradient(circle, rgba(255, 255, 255, 0.7) 20%, rgba(192, 192, 192, 0.9) 50%, rgba(59, 77, 111, 1) 80%);
 }
}

* {
    box-sizing: border-box;
}
/*margin هو المسافه بين الصندوق والصناديق الاخري */
/*padding هو المسافه بين الهديه نفسها وجوانب الصندوق من الداخل */

header{
    background-color: rgb(32, 32, 32);
    color: rgb(245, 247, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    font-family: 'Akaya Telivigala', cursive;

}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
   
    margin-top: 2rem;
    margin-bottom: 2rem;

}
li{
    margin: 0;
    padding: 0;
   
    margin-top: 1rem;
    margin-bottom: 1rem;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav ul {
display: flex;
justify-content: center;  /* لضمان توزيع العناصر بشكل جيد */
align-items: center; /* محاذاة العناصر عموديًا */
gap: 20px;
}

.left-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem; /* Ändra storleken på texten här */
    font-weight: 700;
    transition: font-size 0.3s ease-in-out; /* Lägger till en effekt när storleken ändras */
}

.left-nav ul li a:hover ,
.right-nav ul li a:hover {
    font-size: 2.5rem; /* När du hovrar över länken blir den större */
    color: #9e9187; /* Ändrar färg vid hover */
    padding: 0;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Specifik stil för din huvudtext */
 header a.menu-link {
    font-size: 1rem; /* Större storlek för huvudtext */
   text-transform: uppercase; /* Gör texten versaler */
   font-weight: bold;
   padding: 0;
   margin: 0;
   padding-top: 1rem;
   padding-bottom: 1rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
    letter-spacing: 2px; /* Öka mellanrummet mellan bokstäverna */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* Skugga för att ge effekt */
} 

.left-nav{
    flex: 1;
}
.left-nav ul {
    display: flex;
    list-style: none; /* ta bort punktlistorna*/
    padding: 0;
    margin: 0;
    padding-left:3rem;
    gap: 20px;


}
.right-nav {
    display: flex;
}
.right-nav ul {
    display: flex;
    list-style: none; /* ta bort punktlistorna*/
    padding: 0;
    padding-right: 2rem;
    gap: 20px;
    justify-content: flex-end;

}
.right-nav li{
    margin-left: 1rem;
}
.menu-link {
    color: #fff;
    text-decoration: none; /* ta bort understrykning*/
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 0;
    margin: 0;
}
/* Effekt vid hover */
.menu-link:hover {
    color: #766d66;
  }

 .sections-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* två kolumner på större skärm */
    gap: 20px;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
    
}
.sections-container section {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: auto;
  
}

#portfolio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 2rem;
  font-family: 'Akaya Telivigala', cursive;
  padding-bottom: 0;
  margin-bottom: 0;
}
#portfolio h1{
  margin-bottom: 0;
  margin: 10px 0;
}
#portfolio p{
  margin-top: 0;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
 
section {
    flex: 1 1 30%;
    margin: 8px; 
    /* border: 1px solid #ddd;  */
    border-radius: 8px; 
}

/* ==== صورة الغلاف لكل قسم مع تأثير عند المرور ==== */
.image-overlay-container {
    display: inline-block;
    grid-template-columns: repeat(3,1fr);
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    gap: 1; /* gap mellan bilderna*/
    padding: 0;
    padding-right: 0;
    position: relative;
  }
  .image-overlay-container::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(255,255,255,0.1) 0%, transparent 70%);
    z-index: 0;
    pointer-events: none;
    mix-blend-mode: soft-light;
  }
  
  
  .image-overlay-container img {
    width: 100%;
    max-width: 300px;
    height: auto;
    flex: 1 1 30%;
    transition: transform 0.5s ease;
    border-radius: 20px;
    cursor: pointer;
    object-fit: cover;
    padding-left: 0;
    filter: brightness(1.2); /* Gör bilden 20% ljusare */
  transition: filter 0.4s ease, transform 0.5s ease;
  animation: glow 4s ease-in-out infinite;

  }
  @keyframes glow {
    0% { box-shadow: 0 0 5px rgba(255,255,255,0.1); }
    50% { box-shadow: 0 0 20px rgba(255,255,255,0.3); }
    100% { box-shadow: 0 0 5px rgba(255,255,255,0.1); }
  }
  
  .image-overlay-container:hover img {
    transform: scale(1.05);
    filter: brightness(110%) contrast(120%);
    transform: scale(1.05);
  }
  
  .overlay-text {
    position: absolute;/* text be over bild */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* تغبيش عند المرور */
    color: rgb(248, 246, 246);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Akaya Telivigala', cursive;
    opacity: 0; /*text seems hidden to start*/
    transition: opacity 0.4s ease-in-out; /* fade effect when hovering*/
    border-radius: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
    z-index: 1;
 
  }
  .image-overlay-container:hover .overlay-text { /* on hover, it shows the text */
    opacity: 1; /* text be visible when hover */
}
main{
  flex: 1;
}
footer{
  position:relative;
  bottom: 0;
  padding: 10px;
  text-align: center;
  width: 100%;
  background-color: rgb(1, 1, 1);
  color: #fff;
  margin-bottom: 0;
  
}
/*==== ABOUT ME SECTION ====*/

body.about-page {
  text-align: center;
  padding: 40px 40px;
  width: 100;
  max-width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
  -webkit-animation: color-change-3x 4s linear infinite alternate both;
    animation: color-change-3x 4s linear infinite alternate both;
}
.about-page main {
  flex: 1;
  margin-bottom: 0;
}
.about-page footer{
  padding-top: 0;
}

.about-section{
  text-align: center;
  padding: 40px 40px;
  width: 100;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  max-width: 100%;
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
  -webkit-animation: color-change-3x 4s linear infinite alternate both;
  animation: color-change-3x 4s linear infinite alternate both;
  }
.about-section h2{
  color: #390626;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    font-family: 'Great Vibes', cursive;
  text-transform: uppercase;

}
.about-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: stretch;
  padding-top: 30px;
  align-items:center;
}
.about-text{
  flex:1;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 1rem;
  line-height: 1.6;
  padding-top: 0;
  margin-top: 0;
}
.about-text p {
  max-width: 90%; /* Förhindrar att texten blir för bred */
  font-size: 1.75rem; /* Justera textstorlek om du vill */
  line-height: 2; /* Gör texten lättare att läsa */
  padding-top: 0;
  margin-top: 0;
  font-family: 'Akaya Telivigala', cursive;
  color: #3f0c2c;
}
.about-image img{
  border-radius: 12px;
  max-width: 50%;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  object-fit: cover;
  margin-bottom: 100px;
  -webkit-animation: kenburns-top-right 5s ease-out both;
	        animation: kenburns-top-right 5s ease-out both;
  }

.about-image,
.about-text {
  flex: 1; /* Gör att både divarna får lika stor bredd */
  height: 100%; /* Ser till att divarna fyller hela höjden */
}
@keyframes color-change-3x {
  0% {
    background-color: #d8d2d2; /* Ljusgrå */
}
25% {
    background-color: #d1cfcf; /* Mediumgrå */
}
50% {
    background-color: #d0c6c6; /* Mörkgrå */
}

100% {
    background-color: #a9a9a9; /* Mediumgrå */
}
}
@keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
            transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
            transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
            transform-origin: right top;
  }
}

/*========= END OF ABOUT ME SECTION =========*/

/*====== PROJECTS SECTION======*/
.projects-page header {
  background-color: #4d4c4c; /* header färg */
  color: white;
}


.projects-section {
  text-align: center;
  padding: 40px 20px;
  width: 100vw;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  animation: color-change-5x 8s linear infinite alternate both;
  }
  
  .projects-section h2{
    color: #044f38;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    font-family: 'Great Vibes', cursive;
  text-transform: uppercase;
  
 }

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  max-width: 950px;
  height: 100%;
  margin: 30px auto;
  padding-top: 30px;
  align-items: stretch;
}
.center-only {
  justify-content: center;
}

.project-card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto; /* Verkar på att alla div blir samma storlek*/
  transition: transform 0.3s ease;
  width: 300px;
  flex: 0 0 48%; /* varje div ta ungefär halva raden*/
  align-items: stretch;
  box-sizing: border-box;
  min-height: auto; /* Verkar på att alla div blir samma storlek*/

}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.project-content {
  padding: 20px;
  text-align: left;
  flex: 1; /* Strechar innehållet */
  flex-direction: column;
  justify-content: space-between;
  background-color: #bad7bb;
  
}

.project-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.project-content h3 {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 10px;
  font-family: 'Akaya Telivigala', cursive;
}

.project-content p {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 15px;
  font-family: 'Akaya Telivigala', cursive;
 
  
}

.tags span {
  background-color: #e0f0e9;
  color: #006e4f;
  padding: 4px 10px;
  margin: 2px;
  border-radius: 10px;
  font-size: 0.8rem;
  display: inline-block;
}

.project-links {
  margin-top: 15px;
  
}
/* Remove the underline from all links */
a {
  text-decoration: none;
  color:#044f38;
}
/* Style for 'More Details' links */
a.more-details {
  text-decoration: none;  /* Removes the underline */
  color: green;  /* Makes the link text green */
  transition: color 0.3s ease, text-decoration 0.3s ease; /* Adds a smooth transition for color and underline effect */
}

/* Style for 'More Details' links when hovered */
a.more-details:hover {
  color: darkgreen;  /* Darker green on hover */
  text-decoration: underline;  /* Adds underline on hover */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 12px;
  font-family: 'Akaya Telivigala', cursive;
  animation: color-change-5x 8s linear infinite alternate both;

}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; /* mouse design*/
}

@keyframes text-shadow-drop-bottom { /*EXTRA  EFFET SOM LEDER ATT TEXT SER UT SOM WAVE */
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    opacity: 1;
  }
  30% {
    text-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    opacity: 2;
  }
  70% {
    text-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 1);
    transform: translateY(-10px);
    opacity: 1;
  }
}
.text-shadow-drop-bottom {
  display: inline-block;
  animation-name: text-shadow-drop-bottom;
  animation-duration: 9ms;
  animation-iteration-count: infinite;
  animation-delay: calc(0.2s * var(--i));
  animation-fill-mode: both;
}
.project-title span {
  display: inline-block;
  animation: text-shadow-drop-bottom 2s infinite;
  animation-delay: calc(0.2s * var(--i));
  animation-fill-mode: both;
}  
@keyframes fade-in {
  0% {
    opacity: 0; /* في البداية، تكون الشفافية 0 (أي النص غير مرئي) */
  }
  100% {
    opacity: 1; /* عند النهاية، تصبح الشفافية 1 (أي النص مرئي تمامًا) */
  }
}

.project-title span {
  display: inline-block; /* تأكد من أن كل حرف يعرض ككتلة منفصلة */
  animation: fade-in 4s ease-in-out infinite; /* تطبيق التأثير fade-in لمدة 1.5 ثانية */
  animation-delay: calc(0.2s * var(--i)); /* تأخير ظهور كل حرف حسب قيمة --i */
}
.project-description {
  animation: fade-in 1.5s ease-in-out infinite; /* الوصف يتحرك أبطأ من العنوان */
  animation-delay: 1.5s;  
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  50% {
    text-shadow: 0 0 20px rgba(0, 255, 255, 0.6), 0 0 30px rgba(0, 255, 255, 0.6);
  }
  100% {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}

.project-description {
  animation: glow 1.5s ease-in-out infinite;
  animation-delay: 1s;  /* Adjust delay to sync with h2 */
}
@keyframes color-change-5x {
  0% {
    background-color: #e0f2f1; /* أخضر فاتح جدًا */
  }
  25% {
    background-color: #a5d6a7; /* أخضر ناعم */
  }
  50% {
    background-color: #8cc38f; /* أخضر متوسط */
  }
 
}
/*-- END OF PROJECTS SECTION--*/

/* --Carousel Container-- */
.carousel-container {
  width: 100%;
  overflow: hidden;
  margin-top: 50px; /* Add some space between sections */
  margin: 0;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 5px
}

.carousel-item {
  min-width: 300px;
  max-width: 300px;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: 0;
  margin: 5px;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
  margin: 5px;
  padding: 0;
  border-radius: 16px;
  filter: brightness(1.2); /* Ökar ljusstyrkan */
  transition: filter 0.3s ease; /* Lägger till en smidig övergång när effekten aktiveras */
}

/* Style for Timeline and other sections */
.timeline {
  margin-bottom: 50px;
}

/*-- END OF CARUSELL*/


/* media Queries for responsivness*/
@media (max-width: 1440px) {
    header{
        padding-left: 0rem;
        padding-right: 0rem;
        justify-content: center;
        gap:20px;
       
    }
    nav ul {
        flex-direction: row; /* Linkar be horrizontal shape */
        align-items: center;
    }
    .sections-container {
        grid-template-columns: repeat(3, 1fr); /* två rutor per rad */
      }
    
    section {
        
        flex-wrap: wrap;

    } 
    .image-overlay-container:hover.overlay-text{ /* on hover, its shows the text */
        opacity: 1; /* text be visable, when fade*/
    
      }
     /*  .image-overlay-container {
        flex-wrap: wrap; /* السماح بلف الصور */
       /* gap: 1rem; /* المسافة بين الصور */

   /* } */
    .image-overlay-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 20px;
      width: 100%;
      max-width: 900px;
      margin: 0 ;
      padding: 0;
      border-radius: 20px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      position: relative;
    }
    .image-overlay-container img {
  padding-right: 0;
  margin-right: 0;

      overflow: hidden;
    }
   
    
    
    footer{
        position:relative;
        bottom: o;
        padding: 10px;
        text-align: center;
        width: 100%;
        background-color: rgb(1, 1, 1);
        color: #fff;
        margin-bottom: 0;
        
    }
  
    .about-image img {
      max-width: 60%;  /* Minska bildens storlek för att ge mer utrymme till texten */
      margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    header{
        padding-left: 0rem;
        padding-right: 0rem;
        justify-content: space-evenly;
    }
    nav ul {
        flex-direction: row; /* Linkar be horrizontal shape */
        align-items: center;
    }
    .sections-container {
        grid-template-columns: repeat(2, 1fr); /* tre rutor per rad */
      }
     section {
       flex-wrap: wrap;

    } 
    .image-overlay-container:hover.overlay-text{ /* on hover, its shows the text */
        opacity: 1; /* text be visable, when fade*/
    
      }
      .image-overlay-container {
       
        flex-wrap: wrap;
        gap: 1rem;
    }
    footer{
        position:relative;
        bottom: o;
        padding: 10px;
        text-align: center;
        width: 100%;
        background-color: rgb(1, 1, 1);
        color: #fff;
        margin-bottom: 0;
        
    }
    .project-card {
      flex: 0 0 40%;
      flex:auto;
      min-height: auto;
      height: auto;

    }
    .about-content {
      flex-direction: row;  /* Bild och text bredvid varandra */
      gap: 30px;  /* Öka avståndet mellan bild och text */
    }
  
    .about-image img {
      max-width: 90%;  /* Gör bilden större på surfplattor */
      margin-bottom: 0;  /* Ta bort margin-bottom för att passa bättre på surfplattor */
    }
  
    .about-text {
      max-width: 90%;  /* Begränsa textens bredd */
    }
    .about-text p {
      max-width: 90%; /* Förhindrar att texten blir för bred */
      font-size: 1rem; /* Justera textstorlek  */
      line-height: 2; /* Gör texten lättare att läsa */
      padding-top: 0;
      margin-top: 0;
      font-family: 'Akaya Telivigala', cursive;
      color: #3f0c2c;
    }
    
  
  }

@media (max-width: 480px) {
  .image-overlay-container{
    grid-template-columns: repeat(2,fr1);
   }
   .image-overlay-container img{
     width:50%;
     min-height: 100%;
     max-width: 100%;
     height: 50%;
   
   }
       .overlay-text {
        font-size: 16px;
      
       }
  header{
    padding-left: 0rem;
    padding-right: 0rem;
    justify-content: space-evenly;
}

    nav ul {
      flex-direction: row;
      align-items: center;
      text-align: center;
      gap: 1rem;
    }
  
    .left-nav,
    .right-nav {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .left-nav ul,
    .right-nav ul {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 0;
      margin: 0;
    }
  
    .menu-link {
      font-size: 0.9rem;
    }
  
    footer {
      position: relative;
      bottom: 0;
      margin-top: 1rem;
    }
    section {
      flex: 1 1 100%; /* Make sections take up full width */
      width: 100%; /* Make each section take full width */
        margin: 8px;
  }
  .project-card{
    flex: 0 0 100%;
  }
  .projects-section {
    margin-bottom: 0;
    width: 100vw;
  }
  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-image img {
    max-width: 90%;  /* Bilden får ta upp mer plats på riktigt små skärmar */
  margin-bottom: 5rem;
  }

  .about-text {
    font-size: 0.85rem;  /* Minska textstorleken ytterligare på väldigt små skärmar */
  }
  /* --Carousel Container-- */
.carousel-container {
  width: 100%;
  overflow: hidden;
  margin-top: 50px; /* Add some space between sections */
  margin: 0;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 5px
}

.carousel-item {
  min-width: 300px;
  max-width: 300px;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: 0;
  margin: 5px;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
  margin: 5px;
  padding: 0;
  border-radius: 16px;
  filter: brightness(1.2); /* Ökar ljusstyrkan */
  transition: filter 0.3s ease; /* Lägger till en smidig övergång när effekten aktiveras */
}

/* Style for Timeline and other sections */
.timeline {
  margin-bottom: 50px;
}

  }
  @media (max-width: 390px) {
    
.image-overlay-container{
 grid-template-columns: repeat(2,fr1);
}
.image-overlay-container img{
  width:50%;
  min-height: 100%;
  max-width: 100%;
  height: 50%;

}
    .overlay-text {
     font-size: 16px;
   
    }
    /* Header adjustments */
    header {
        font-size: 4px; /* Reduce font size even more for small screens */
        padding: 8px;
        flex-wrap: wrap;
        text-align: center; /* Center header content */
    }

    nav ul {
        flex-direction: column; /* Stack the navigation links vertically */
        align-items: center;
        text-align: center;
        gap: 1rem; /* Slightly less space between nav items for a tighter layout */
    }

    .left-nav,
    .right-nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .left-nav ul,
    .right-nav ul {
        flex-direction: column; /* Stack the links vertically */
        align-items: center;
        gap: 0.8rem; /* Reduced space between nav items */
        padding: 0;
        margin: 0;
    }

    .menu-link {
        font-size: 0.9rem; /* Even smaller font for better fit */
        padding: 0;
        margin: 0;
    }
   footer{
    margin-top: 0;
   }
    
    #portfolio{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      font-size: 1rem;
      font-family: 'Akaya Telivigala', cursive;
     
    }
    #porfolio h1{
      margin-bottom: 0;
    }
    #portfolio p{
      margin-top: 0;
    }
    .project-card{
      flex: 0 0 100%;
    }
    .projects-section {
      margin-bottom: 0;
      width: 100vw;
      max-width: 100vw;
   
    }
    .about-content {
      flex-direction: column;
      align-items: center;
    }
  
    .about-image img {
      max-width: 90%;  /* Bilden får ta upp mer plats på riktigt små skärmar */
    margin-bottom: 4rem;
    }
  
    .about-text {
      font-size: 0.85rem;  /* Minska textstorleken ytterligare på väldigt små skärmar */
      text-align: center;
    }
    /* --Carousel Container-- */
.carousel-container {
  width: 100%;
  overflow: hidden;
  margin-top: 50px; /* Add some space between sections */
  margin: 0;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 5px
}

.carousel-item {
  min-width: 300px;
  max-width: 300px;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: 0;
  margin: 5px;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
  margin: 5px;
  padding: 0;
  border-radius: 16px;
  filter: brightness(1.2); /* Ökar ljusstyrkan */
  transition: filter 0.3s ease; /* Lägger till en smidig övergång när effekten aktiveras */
}

/* Style for Timeline and other sections */
.timeline {
  margin-bottom: 50px;
}
}
@keyframes color-change-2x {
  0% {
    background: linear-gradient(45deg, #3b4d6f, #c0c0c0); /* Mörkblå till silver */
}
50% {
    background: linear-gradient(45deg, #4f5d77, #b0b0b0); /* En mer subtil övergång */
}
100% {
    background: linear-gradient(45deg, #c0c0c0, #3b4d6f); /* Silver till mörkblå */
}
}
@keyframes glowEffect {
  0% {
      background-position: -100% -100%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: -100% -100%;
  }
}
